<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmmgdzl.mapper.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.mmmgdzl.pojo.Resource" >
    <id column="rId" property="rid" jdbcType="INTEGER" />
    <result column="rTitle" property="rtitle" jdbcType="VARCHAR" />
    <result column="rTitleImg" property="rtitleimg" jdbcType="VARCHAR" />
    <result column="rColumn" property="rcolumn" jdbcType="INTEGER" />
    <result column="rCreateDate" property="rcreatedate" jdbcType="DATE" />
    <result column="rCreater" property="rcreater" jdbcType="INTEGER" />
    <result column="rUpdateDate" property="rupdatedate" jdbcType="DATE" />
    <result column="rUpdater" property="rupdater" jdbcType="INTEGER" />
    <result column="rViews" property="rviews" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mmmgdzl.pojo.Resource" extends="BaseResultMap" >
    <result column="rContent" property="rcontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rId, rTitle, rTitleImg, rColumn, rCreateDate, rCreater, rUpdateDate, rUpdater, rViews
  </sql>
  <sql id="Blob_Column_List" >
    rContent
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.mmmgdzl.pojo.ResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mmmgdzl.pojo.ResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from resource
    where rId = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resource
    where rId = #{rid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmmgdzl.pojo.ResourceExample" >
    delete from resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmmgdzl.pojo.Resource" >
    insert into resource (rId, rTitle, rTitleImg, 
      rColumn, rCreateDate, rCreater, 
      rUpdateDate, rUpdater, rViews, 
      rContent)
    values (#{rid,jdbcType=INTEGER}, #{rtitle,jdbcType=VARCHAR}, #{rtitleimg,jdbcType=VARCHAR}, 
      #{rcolumn,jdbcType=INTEGER}, #{rcreatedate,jdbcType=DATE}, #{rcreater,jdbcType=INTEGER}, 
      #{rupdatedate,jdbcType=DATE}, #{rupdater,jdbcType=INTEGER}, #{rviews,jdbcType=INTEGER}, 
      #{rcontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mmmgdzl.pojo.Resource" >
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rId,
      </if>
      <if test="rtitle != null" >
        rTitle,
      </if>
      <if test="rtitleimg != null" >
        rTitleImg,
      </if>
      <if test="rcolumn != null" >
        rColumn,
      </if>
      <if test="rcreatedate != null" >
        rCreateDate,
      </if>
      <if test="rcreater != null" >
        rCreater,
      </if>
      <if test="rupdatedate != null" >
        rUpdateDate,
      </if>
      <if test="rupdater != null" >
        rUpdater,
      </if>
      <if test="rviews != null" >
        rViews,
      </if>
      <if test="rcontent != null" >
        rContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="rtitle != null" >
        #{rtitle,jdbcType=VARCHAR},
      </if>
      <if test="rtitleimg != null" >
        #{rtitleimg,jdbcType=VARCHAR},
      </if>
      <if test="rcolumn != null" >
        #{rcolumn,jdbcType=INTEGER},
      </if>
      <if test="rcreatedate != null" >
        #{rcreatedate,jdbcType=DATE},
      </if>
      <if test="rcreater != null" >
        #{rcreater,jdbcType=INTEGER},
      </if>
      <if test="rupdatedate != null" >
        #{rupdatedate,jdbcType=DATE},
      </if>
      <if test="rupdater != null" >
        #{rupdater,jdbcType=INTEGER},
      </if>
      <if test="rviews != null" >
        #{rviews,jdbcType=INTEGER},
      </if>
      <if test="rcontent != null" >
        #{rcontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmmgdzl.pojo.ResourceExample" resultType="java.lang.Integer" >
    select count(*) from resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update resource
    <set >
      <if test="record.rid != null" >
        rId = #{record.rid,jdbcType=INTEGER},
      </if>
      <if test="record.rtitle != null" >
        rTitle = #{record.rtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.rtitleimg != null" >
        rTitleImg = #{record.rtitleimg,jdbcType=VARCHAR},
      </if>
      <if test="record.rcolumn != null" >
        rColumn = #{record.rcolumn,jdbcType=INTEGER},
      </if>
      <if test="record.rcreatedate != null" >
        rCreateDate = #{record.rcreatedate,jdbcType=DATE},
      </if>
      <if test="record.rcreater != null" >
        rCreater = #{record.rcreater,jdbcType=INTEGER},
      </if>
      <if test="record.rupdatedate != null" >
        rUpdateDate = #{record.rupdatedate,jdbcType=DATE},
      </if>
      <if test="record.rupdater != null" >
        rUpdater = #{record.rupdater,jdbcType=INTEGER},
      </if>
      <if test="record.rviews != null" >
        rViews = #{record.rviews,jdbcType=INTEGER},
      </if>
      <if test="record.rcontent != null" >
        rContent = #{record.rcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update resource
    set rId = #{record.rid,jdbcType=INTEGER},
      rTitle = #{record.rtitle,jdbcType=VARCHAR},
      rTitleImg = #{record.rtitleimg,jdbcType=VARCHAR},
      rColumn = #{record.rcolumn,jdbcType=INTEGER},
      rCreateDate = #{record.rcreatedate,jdbcType=DATE},
      rCreater = #{record.rcreater,jdbcType=INTEGER},
      rUpdateDate = #{record.rupdatedate,jdbcType=DATE},
      rUpdater = #{record.rupdater,jdbcType=INTEGER},
      rViews = #{record.rviews,jdbcType=INTEGER},
      rContent = #{record.rcontent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update resource
    set rId = #{record.rid,jdbcType=INTEGER},
      rTitle = #{record.rtitle,jdbcType=VARCHAR},
      rTitleImg = #{record.rtitleimg,jdbcType=VARCHAR},
      rColumn = #{record.rcolumn,jdbcType=INTEGER},
      rCreateDate = #{record.rcreatedate,jdbcType=DATE},
      rCreater = #{record.rcreater,jdbcType=INTEGER},
      rUpdateDate = #{record.rupdatedate,jdbcType=DATE},
      rUpdater = #{record.rupdater,jdbcType=INTEGER},
      rViews = #{record.rviews,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmmgdzl.pojo.Resource" >
    update resource
    <set >
      <if test="rtitle != null" >
        rTitle = #{rtitle,jdbcType=VARCHAR},
      </if>
      <if test="rtitleimg != null" >
        rTitleImg = #{rtitleimg,jdbcType=VARCHAR},
      </if>
      <if test="rcolumn != null" >
        rColumn = #{rcolumn,jdbcType=INTEGER},
      </if>
      <if test="rcreatedate != null" >
        rCreateDate = #{rcreatedate,jdbcType=DATE},
      </if>
      <if test="rcreater != null" >
        rCreater = #{rcreater,jdbcType=INTEGER},
      </if>
      <if test="rupdatedate != null" >
        rUpdateDate = #{rupdatedate,jdbcType=DATE},
      </if>
      <if test="rupdater != null" >
        rUpdater = #{rupdater,jdbcType=INTEGER},
      </if>
      <if test="rviews != null" >
        rViews = #{rviews,jdbcType=INTEGER},
      </if>
      <if test="rcontent != null" >
        rContent = #{rcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where rId = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mmmgdzl.pojo.Resource" >
    update resource
    set rTitle = #{rtitle,jdbcType=VARCHAR},
      rTitleImg = #{rtitleimg,jdbcType=VARCHAR},
      rColumn = #{rcolumn,jdbcType=INTEGER},
      rCreateDate = #{rcreatedate,jdbcType=DATE},
      rCreater = #{rcreater,jdbcType=INTEGER},
      rUpdateDate = #{rupdatedate,jdbcType=DATE},
      rUpdater = #{rupdater,jdbcType=INTEGER},
      rViews = #{rviews,jdbcType=INTEGER},
      rContent = #{rcontent,jdbcType=LONGVARCHAR}
    where rId = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmmgdzl.pojo.Resource" >
    update resource
    set rTitle = #{rtitle,jdbcType=VARCHAR},
      rTitleImg = #{rtitleimg,jdbcType=VARCHAR},
      rColumn = #{rcolumn,jdbcType=INTEGER},
      rCreateDate = #{rcreatedate,jdbcType=DATE},
      rCreater = #{rcreater,jdbcType=INTEGER},
      rUpdateDate = #{rupdatedate,jdbcType=DATE},
      rUpdater = #{rupdater,jdbcType=INTEGER},
      rViews = #{rviews,jdbcType=INTEGER}
    where rId = #{rid,jdbcType=INTEGER}
  </update>
</mapper>