<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmmgdzl.mapper.ResourceCommentMapper" >
  <resultMap id="BaseResultMap" type="com.mmmgdzl.pojo.ResourceComment" >
    <id column="rcId" property="rcid" jdbcType="INTEGER" />
    <result column="rcCount" property="rccount" jdbcType="INTEGER" />
    <result column="rcCreater" property="rccreater" jdbcType="INTEGER" />
    <result column="rcCreateDate" property="rccreatedate" jdbcType="TIMESTAMP" />
    <result column="rcUpdater" property="rcupdater" jdbcType="INTEGER" />
    <result column="rcUpdateDate" property="rcupdatedate" jdbcType="TIMESTAMP" />
    <result column="rcResource" property="rcresource" jdbcType="INTEGER" />
    <result column="rcReply" property="rcreply" jdbcType="INTEGER" />
    <result column="rcContent" property="rccontent" jdbcType="VARCHAR" />
    <result column="rcEnable" property="rcenable" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rcId, rcCount, rcCreater, rcCreateDate, rcUpdater, rcUpdateDate, rcResource, rcReply, 
    rcContent, rcEnable
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mmmgdzl.pojo.ResourceCommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from resource_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resource_comment
    where rcId = #{rcid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resource_comment
    where rcId = #{rcid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmmgdzl.pojo.ResourceCommentExample" >
    delete from resource_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmmgdzl.pojo.ResourceComment" >
    insert into resource_comment (rcId, rcCount, rcCreater, 
      rcCreateDate, rcUpdater, rcUpdateDate, 
      rcResource, rcReply, rcContent, 
      rcEnable)
    values (#{rcid,jdbcType=INTEGER}, #{rccount,jdbcType=INTEGER}, #{rccreater,jdbcType=INTEGER}, 
      #{rccreatedate,jdbcType=TIMESTAMP}, #{rcupdater,jdbcType=INTEGER}, #{rcupdatedate,jdbcType=TIMESTAMP}, 
      #{rcresource,jdbcType=INTEGER}, #{rcreply,jdbcType=INTEGER}, #{rccontent,jdbcType=VARCHAR}, 
      #{rcenable,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mmmgdzl.pojo.ResourceComment" >
    insert into resource_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rcid != null" >
        rcId,
      </if>
      <if test="rccount != null" >
        rcCount,
      </if>
      <if test="rccreater != null" >
        rcCreater,
      </if>
      <if test="rccreatedate != null" >
        rcCreateDate,
      </if>
      <if test="rcupdater != null" >
        rcUpdater,
      </if>
      <if test="rcupdatedate != null" >
        rcUpdateDate,
      </if>
      <if test="rcresource != null" >
        rcResource,
      </if>
      <if test="rcreply != null" >
        rcReply,
      </if>
      <if test="rccontent != null" >
        rcContent,
      </if>
      <if test="rcenable != null" >
        rcEnable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rcid != null" >
        #{rcid,jdbcType=INTEGER},
      </if>
      <if test="rccount != null" >
        #{rccount,jdbcType=INTEGER},
      </if>
      <if test="rccreater != null" >
        #{rccreater,jdbcType=INTEGER},
      </if>
      <if test="rccreatedate != null" >
        #{rccreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="rcupdater != null" >
        #{rcupdater,jdbcType=INTEGER},
      </if>
      <if test="rcupdatedate != null" >
        #{rcupdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="rcresource != null" >
        #{rcresource,jdbcType=INTEGER},
      </if>
      <if test="rcreply != null" >
        #{rcreply,jdbcType=INTEGER},
      </if>
      <if test="rccontent != null" >
        #{rccontent,jdbcType=VARCHAR},
      </if>
      <if test="rcenable != null" >
        #{rcenable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmmgdzl.pojo.ResourceCommentExample" resultType="java.lang.Integer" >
    select count(*) from resource_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update resource_comment
    <set >
      <if test="record.rcid != null" >
        rcId = #{record.rcid,jdbcType=INTEGER},
      </if>
      <if test="record.rccount != null" >
        rcCount = #{record.rccount,jdbcType=INTEGER},
      </if>
      <if test="record.rccreater != null" >
        rcCreater = #{record.rccreater,jdbcType=INTEGER},
      </if>
      <if test="record.rccreatedate != null" >
        rcCreateDate = #{record.rccreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rcupdater != null" >
        rcUpdater = #{record.rcupdater,jdbcType=INTEGER},
      </if>
      <if test="record.rcupdatedate != null" >
        rcUpdateDate = #{record.rcupdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rcresource != null" >
        rcResource = #{record.rcresource,jdbcType=INTEGER},
      </if>
      <if test="record.rcreply != null" >
        rcReply = #{record.rcreply,jdbcType=INTEGER},
      </if>
      <if test="record.rccontent != null" >
        rcContent = #{record.rccontent,jdbcType=VARCHAR},
      </if>
      <if test="record.rcenable != null" >
        rcEnable = #{record.rcenable,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update resource_comment
    set rcId = #{record.rcid,jdbcType=INTEGER},
      rcCount = #{record.rccount,jdbcType=INTEGER},
      rcCreater = #{record.rccreater,jdbcType=INTEGER},
      rcCreateDate = #{record.rccreatedate,jdbcType=TIMESTAMP},
      rcUpdater = #{record.rcupdater,jdbcType=INTEGER},
      rcUpdateDate = #{record.rcupdatedate,jdbcType=TIMESTAMP},
      rcResource = #{record.rcresource,jdbcType=INTEGER},
      rcReply = #{record.rcreply,jdbcType=INTEGER},
      rcContent = #{record.rccontent,jdbcType=VARCHAR},
      rcEnable = #{record.rcenable,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmmgdzl.pojo.ResourceComment" >
    update resource_comment
    <set >
      <if test="rccount != null" >
        rcCount = #{rccount,jdbcType=INTEGER},
      </if>
      <if test="rccreater != null" >
        rcCreater = #{rccreater,jdbcType=INTEGER},
      </if>
      <if test="rccreatedate != null" >
        rcCreateDate = #{rccreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="rcupdater != null" >
        rcUpdater = #{rcupdater,jdbcType=INTEGER},
      </if>
      <if test="rcupdatedate != null" >
        rcUpdateDate = #{rcupdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="rcresource != null" >
        rcResource = #{rcresource,jdbcType=INTEGER},
      </if>
      <if test="rcreply != null" >
        rcReply = #{rcreply,jdbcType=INTEGER},
      </if>
      <if test="rccontent != null" >
        rcContent = #{rccontent,jdbcType=VARCHAR},
      </if>
      <if test="rcenable != null" >
        rcEnable = #{rcenable,jdbcType=INTEGER},
      </if>
    </set>
    where rcId = #{rcid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmmgdzl.pojo.ResourceComment" >
    update resource_comment
    set rcCount = #{rccount,jdbcType=INTEGER},
      rcCreater = #{rccreater,jdbcType=INTEGER},
      rcCreateDate = #{rccreatedate,jdbcType=TIMESTAMP},
      rcUpdater = #{rcupdater,jdbcType=INTEGER},
      rcUpdateDate = #{rcupdatedate,jdbcType=TIMESTAMP},
      rcResource = #{rcresource,jdbcType=INTEGER},
      rcReply = #{rcreply,jdbcType=INTEGER},
      rcContent = #{rccontent,jdbcType=VARCHAR},
      rcEnable = #{rcenable,jdbcType=INTEGER}
    where rcId = #{rcid,jdbcType=INTEGER}
  </update>
</mapper>