<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmmgdzl.mapper.ResourceColumnMapper" >
  <resultMap id="BaseResultMap" type="com.mmmgdzl.pojo.ResourceColumn" >
    <id column="cId" property="cid" jdbcType="INTEGER" />
    <result column="cName" property="cname" jdbcType="VARCHAR" />
    <result column="cCreateDate" property="ccreatedate" jdbcType="TIMESTAMP" />
    <result column="cCreater" property="ccreater" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cId, cName, cCreateDate, cCreater
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mmmgdzl.pojo.ResourceColumnExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from resource_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resource_column
    where cId = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resource_column
    where cId = #{cid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmmgdzl.pojo.ResourceColumnExample" >
    delete from resource_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmmgdzl.pojo.ResourceColumn" >
    insert into resource_column (cId, cName, cCreateDate, 
      cCreater)
    values (#{cid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{ccreatedate,jdbcType=TIMESTAMP}, 
      #{ccreater,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mmmgdzl.pojo.ResourceColumn" >
    insert into resource_column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cId,
      </if>
      <if test="cname != null" >
        cName,
      </if>
      <if test="ccreatedate != null" >
        cCreateDate,
      </if>
      <if test="ccreater != null" >
        cCreater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="ccreatedate != null" >
        #{ccreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="ccreater != null" >
        #{ccreater,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmmgdzl.pojo.ResourceColumnExample" resultType="java.lang.Integer" >
    select count(*) from resource_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update resource_column
    <set >
      <if test="record.cid != null" >
        cId = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.cname != null" >
        cName = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.ccreatedate != null" >
        cCreateDate = #{record.ccreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ccreater != null" >
        cCreater = #{record.ccreater,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update resource_column
    set cId = #{record.cid,jdbcType=INTEGER},
      cName = #{record.cname,jdbcType=VARCHAR},
      cCreateDate = #{record.ccreatedate,jdbcType=TIMESTAMP},
      cCreater = #{record.ccreater,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmmgdzl.pojo.ResourceColumn" >
    update resource_column
    <set >
      <if test="cname != null" >
        cName = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="ccreatedate != null" >
        cCreateDate = #{ccreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="ccreater != null" >
        cCreater = #{ccreater,jdbcType=INTEGER},
      </if>
    </set>
    where cId = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmmgdzl.pojo.ResourceColumn" >
    update resource_column
    set cName = #{cname,jdbcType=VARCHAR},
      cCreateDate = #{ccreatedate,jdbcType=TIMESTAMP},
      cCreater = #{ccreater,jdbcType=INTEGER}
    where cId = #{cid,jdbcType=INTEGER}
  </update>
</mapper>