<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmmgdzl.mapper.ResourceCommentMapper" >
  <resultMap id="BaseResultMap" type="com.mmmgdzl.pojo.ResourceComment" >
    <id column="rc_id" property="rcId" jdbcType="INTEGER" />
    <result column="rcCreateDate" property="rccreatedate" jdbcType="DATE" />
    <result column="rcCreater" property="rccreater" jdbcType="INTEGER" />
    <result column="rcResource" property="rcresource" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mmmgdzl.pojo.ResourceComment" extends="BaseResultMap" >
    <result column="rcContent" property="rccontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rc_id, rcCreateDate, rcCreater, rcResource
  </sql>
  <sql id="Blob_Column_List" >
    rcContent
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.mmmgdzl.pojo.ResourceCommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from resource_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mmmgdzl.pojo.ResourceCommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from resource_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from resource_comment
    where rc_id = #{rcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resource_comment
    where rc_id = #{rcId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmmgdzl.pojo.ResourceCommentExample" >
    delete from resource_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmmgdzl.pojo.ResourceComment" >
    insert into resource_comment (rc_id, rcCreateDate, rcCreater, 
      rcResource, rcContent)
    values (#{rcId,jdbcType=INTEGER}, #{rccreatedate,jdbcType=DATE}, #{rccreater,jdbcType=INTEGER}, 
      #{rcresource,jdbcType=INTEGER}, #{rccontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mmmgdzl.pojo.ResourceComment" >
    insert into resource_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rcId != null" >
        rc_id,
      </if>
      <if test="rccreatedate != null" >
        rcCreateDate,
      </if>
      <if test="rccreater != null" >
        rcCreater,
      </if>
      <if test="rcresource != null" >
        rcResource,
      </if>
      <if test="rccontent != null" >
        rcContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rcId != null" >
        #{rcId,jdbcType=INTEGER},
      </if>
      <if test="rccreatedate != null" >
        #{rccreatedate,jdbcType=DATE},
      </if>
      <if test="rccreater != null" >
        #{rccreater,jdbcType=INTEGER},
      </if>
      <if test="rcresource != null" >
        #{rcresource,jdbcType=INTEGER},
      </if>
      <if test="rccontent != null" >
        #{rccontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmmgdzl.pojo.ResourceCommentExample" resultType="java.lang.Integer" >
    select count(*) from resource_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update resource_comment
    <set >
      <if test="record.rcId != null" >
        rc_id = #{record.rcId,jdbcType=INTEGER},
      </if>
      <if test="record.rccreatedate != null" >
        rcCreateDate = #{record.rccreatedate,jdbcType=DATE},
      </if>
      <if test="record.rccreater != null" >
        rcCreater = #{record.rccreater,jdbcType=INTEGER},
      </if>
      <if test="record.rcresource != null" >
        rcResource = #{record.rcresource,jdbcType=INTEGER},
      </if>
      <if test="record.rccontent != null" >
        rcContent = #{record.rccontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update resource_comment
    set rc_id = #{record.rcId,jdbcType=INTEGER},
      rcCreateDate = #{record.rccreatedate,jdbcType=DATE},
      rcCreater = #{record.rccreater,jdbcType=INTEGER},
      rcResource = #{record.rcresource,jdbcType=INTEGER},
      rcContent = #{record.rccontent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update resource_comment
    set rc_id = #{record.rcId,jdbcType=INTEGER},
      rcCreateDate = #{record.rccreatedate,jdbcType=DATE},
      rcCreater = #{record.rccreater,jdbcType=INTEGER},
      rcResource = #{record.rcresource,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmmgdzl.pojo.ResourceComment" >
    update resource_comment
    <set >
      <if test="rccreatedate != null" >
        rcCreateDate = #{rccreatedate,jdbcType=DATE},
      </if>
      <if test="rccreater != null" >
        rcCreater = #{rccreater,jdbcType=INTEGER},
      </if>
      <if test="rcresource != null" >
        rcResource = #{rcresource,jdbcType=INTEGER},
      </if>
      <if test="rccontent != null" >
        rcContent = #{rccontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where rc_id = #{rcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mmmgdzl.pojo.ResourceComment" >
    update resource_comment
    set rcCreateDate = #{rccreatedate,jdbcType=DATE},
      rcCreater = #{rccreater,jdbcType=INTEGER},
      rcResource = #{rcresource,jdbcType=INTEGER},
      rcContent = #{rccontent,jdbcType=LONGVARCHAR}
    where rc_id = #{rcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmmgdzl.pojo.ResourceComment" >
    update resource_comment
    set rcCreateDate = #{rccreatedate,jdbcType=DATE},
      rcCreater = #{rccreater,jdbcType=INTEGER},
      rcResource = #{rcresource,jdbcType=INTEGER}
    where rc_id = #{rcId,jdbcType=INTEGER}
  </update>
</mapper>